---
import Button from "../components/Button.astro";
import GithubIcon from "../components/icons/Github__icon.astro";
import DiscordIcon from "../components/icons/Discord__icon.astro";
import Layout from "../layouts/Layout.astro";
import Roadmap from "../components/Roadmap.astro";
import SplitImage from "../components/SplitImage.astro";
---

<Layout title="Thela Network">
  <header>
    <h1>Thela is <span></span></h1>

    <script>
      //list of txt
      const textos = ["A NETWORK", "ENVIRONMENTALLY FRIENDLY", "A COMMUNITY"];
      let index = 0;

      function changetext() {
        const element = document.querySelector("h1 span");
        if (element instanceof HTMLElement) {
          element.innerText = textos[index];
          index = (index + 1) % textos.length;
          setTimeout(changetext, 3500);
        }
      }

      changetext();
    </script>

    <p>
      Thela folllow the initial philosofy of the creation of Bitcoin by Satoshi Nakamoto. So yeah, we are Cryptocurrency maded by the community for the community, 
      a <font color ="#5AC5F3" > small supply</font> is made, <font color="#D846FC">0% transacion fees</font> system implemented and <font color="#5AC5F3">easy mine</font> algorithm which democratizes mining for all types of CPUs and with a low energy cost 
      to preserve the environment. 
      We don't want Centralization, we don't want CEOs or companies behind us, we don't want ETFs...
    </p>
    <div class="buttons__container">
      <Button href="https://discordapp.com/channels/1200945480834748467/1221097449993539786">
        <DiscordIcon slot="icon-before" />
        Discord
      </Button>
      <Button href="https://github.com/M1000dotThaler/ThelaNetwork">
        <GithubIcon slot="icon-after" />
        GitHub
      </Button>
    </div>

    <div></div>
    <div class="logo-container">
      <img src="/scroll.png" alt="Scroll down icon png" class="logo" />
    </div>
  </header>

  <main>
    <Roadmap />
    <div class="logo-container">
      <img src="/scroll.png" alt="scroll down icon png" class="logo" />
    </div>
    <SplitImage />

    <h1>Connect with <span>THELA</span></h1>
    
  </main>
  
</Layout>

<style>
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3rem 1.5rem;
    gap: 1rem;
  }

  header p {
    font-size: 1.8rem;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .logo {
    padding-top: 30px;
    width: 40px;
    height: auto;
    margin-left: 1px;
    animation: moveUpDown 3s ease-in-out infinite;
    filter: blur(0.5px);
  }
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .buttons__container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 5rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: auto;
    text-align: center;
    padding: 1rem;
    overflow-x: hidden;
  }

  @media (min-width: 765px) {
    header {
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 20rem 0rem 10rem 0;
    }

    header p {
      max-width: 40em;
    }
    body {
      width: 100%;
    }
  }
</style>
