---
import Button from "../components/Button.astro";
import GithubIcon from "../components/icons/Github__icon.astro"
import Layout from "../layouts/Layout.astro";

---

<Layout title="Thela Network">
  <header>
    <h1>Thela is <span>Network</span></h1>

	<script>
		//list of txt
		const textos = ['A NETWORK', 'A LAYER 1', 'A COMMUNITY'];
		let index = 0;
		
		
		function changetext() {
		  const elemento = document.querySelector('h1 span');
		  if (elemento instanceof HTMLElement) { 
			elemento.innerText = textos[index];
			index = (index + 1) % textos.length;
			setTimeout(changetext, 3500);
		  }
		}
		
		
		changetext();
	  </script>
	  
	  
	  

	
	
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quod saepe
      eum neque velit laudantium. Sequi reprehenderit inventore pariatur iusto,
      deleniti suscipit quasi cupiditate voluptas delectus officiis vitae nemo
      voluptatem voluptatum labore tempora quis harum sint dicta, fuga qui
      beatae accusamus.
    </p>
    <div class="buttons__container">
      <Button href="/">
        <GithubIcon slot="icon-before"></GithubIcon>
        GitHub
      </Button>
      <Button href="/">
        <GithubIcon slot="icon-after"></GithubIcon>
        GitHub
      </Button>
    </div>
  </header>
  <main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quod obcaecati totam vero aperiam, explicabo est itaque eos in atque natus veritatis odit similique neque ipsam maiores rem accusamus aspernatur assumenda illum adipisci iusto laudantium ipsa. Ipsum dolores quos mollitia explicabo minima corporis ab, reprehenderit quibusdam quasi architecto? Praesentium consectetur, nulla nemo delectus aspernatur veritatis blanditiis velit quis. Animi voluptas id sunt ea dignissimos cupiditate exercitationem eius soluta similique? Veniam dignissimos placeat laudantium reprehenderit quidem accusamus? Dignissimos possimus nostrum excepturi. Eaque labore, iste, nam et quisquam iure nisi soluta similique reiciendis laudantium culpa molestias cumque excepturi consequatur sit quis impedit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quod obcaecati totam vero aperiam, explicabo est itaque eos in atque natus veritatis odit similique neque ipsam maiores rem accusamus aspernatur assumenda illum adipisci iusto laudantium ipsa. Ipsum dolores quos mollitia explicabo minima corporis ab, reprehenderit quibusdam quasi architecto? Praesentium consectetur, nulla nemo delectus aspernatur veritatis blanditiis velit quis. Animi voluptas id sunt ea dignissimos cupiditate exercitationem eius soluta similique? Veniam dignissimos placeat laudantium reprehenderit quidem accusamus? Dignissimos possimus nostrum excepturi. Eaque labore, iste, nam et quisquam iure nisi soluta similique reiciendis laudantium culpa molestias cumque excepturi consequatur sit quis impedit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quod obcaecati totam vero aperiam, explicabo est itaque eos in atque natus veritatis odit similique neque ipsam maiores rem accusamus aspernatur assumenda illum adipisci iusto laudantium ipsa. Ipsum dolores quos mollitia explicabo minima corporis ab, reprehenderit quibusdam quasi architecto? Praesentium consectetur, nulla nemo delectus aspernatur veritatis blanditiis velit quis. Animi voluptas id sunt ea dignissimos cupiditate exercitationem eius soluta similique? Veniam dignissimos placeat laudantium reprehenderit quidem accusamus? Dignissimos possimus nostrum excepturi. Eaque labore, iste, nam et quisquam iure nisi soluta similique reiciendis laudantium culpa molestias cumque excepturi consequatur sit quis impedit?</p>
  </main>
</Layout>

<style>
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3rem 1.5rem;
    gap: 1rem;
  }

  header p{
    font-size: 1.8rem;
  }
  .buttons__container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 5rem;
  }

  main{
    margin-bottom: auto;
    text-align: center;
    padding: 1rem;
  }

  @media (min-width: 765px) {
    header {
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 20rem 0rem 10rem 0;
    }

    header p {
      max-width: 40em;
    }
    body {
      width: 100%;
    }
  }
</style>
