---

---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");
</style>
<!--This is the main container that contains the whole timeline.-->
<section class="design-section">
  <div class="timeline">
    <!--Well, The reason for this div is to fill space. 
This space is technically used for keeping dates, 
but I didn't find the need for dates. However, I'll provide 
you the styling for dates, so that you can use it if you 
wanted to.-->
    <div class="timeline-empty"></div>

    <!--This is the class where the timeline graphics are 
housed in. Note that we have timeline-circle 
here for that pointer in timeline.-->

    <div class="timeline-middle">
      <div class="timeline-circle"></div>
    </div>
    <div class="timeline-component timeline-content">
      <h3>Phase 1</h3>
      <p>
        In this Phase we are developing the first version of the main network.
        Using Python to create the blockchain and flask to make the API to
        interact with the Thela Network. So if you want participate in the
        network development you can make a PR in our repo in Github. Feel free
        to participate and make Thela great again ;)
      </p>
    </div>
    <div class="timeline-component timeline-content">
      <h3>Phase 2</h3>
      <p>
        In this Phase,  we are making the Tokenomics of our Crypto, so we are making the samll supply and distributed the amount with all the 
        contribuitors of the project. As you know the supply its just 1 million Thelas and will be avaible while a block is mined, but the reward will be
        halved every 2000 blocks. See the document PDF to see how it works and the Tokenomics.
      </p>
    </div>
    <div class="timeline-middle">
      <div class="timeline-circle"></div>
    </div>
    <div class="timeline-empty"></div>

    <div class="timeline-empty"></div>

    <div class="timeline-middle">
      <div class="timeline-circle"></div>
    </div>
    <div class="timeline-component timeline-content">
      <h3>Phase 3</h3>
      <p>In this Phase  we are focus on create the final web of the project & we
        are making all the feature to interact with Thela Network(Discord
        Bot,Thela Core,Web wallet). All to make easy connect with the network and stay free from the centralitzation.
      </p>
    </div>
  </div>
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");
  .design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    padding: 100px 0;
    font-family: Jost;
  }

  .design {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .timeline-content {
    padding: 20px;
    background-color: #1c1c1c;
    box-shadow: 0px 20px 40px -20px rgba(11,199,209,0.66);
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
  }

  .timeline-component {
    margin: 0px 20px 20px 20px;
  }

  @media screen and (min-width: 768px) {
    .timeline {
      display: grid;
      grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
      position: relative;
      background-image: linear-gradient(45deg, rgb(90, 197, 243), rgb(216, 70, 252));
      width: 3px;
      height: 100%;
    }
    .main-middle {
      opacity: 0;
    }
    .timeline-circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-image: linear-gradient(45deg, rgb(90, 197, 243), rgb(216, 70, 252));
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
</style>
